/* Estrutura do site Chalé Hotel */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff url(../images/bg.png);
    margin: 15px;
}

#container {
    background: #ede9cc url(../images/bg-container.png) top center repeat-y;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;
}

#topo {
    position: relative;
    background: #dbcd87;
    height: 15.4em;
    min-height: 250px;
}

#area-logo {
    position: absolute;
    background: url(../images/topo-imagem-principal.png) no-repeat;
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo a {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
    background: url(../images/logo.png) no-repeat;
    width: 151px;
    height: 66px;
    text-indent: -9000px;
}

#area-menu {
    position: absolute;
    background: url(../images/topo-imagem-lateral.png) no-repeat;
    width: 450px;
    height: 250px;
    top: 0;
    right: 0;
    z-index: 2;
}

#conteudo-menu {
    margin-left: 90px;
    margin-right: 15px;
    padding-top: 15px;
}

#menu-locais {
    border-bottom: 1px solid #b5ab56;
    border-top: 1px solid #b5ab56;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.7em;
    color: #8b8448;
}

#menu-locais .locais {
    float: left;
    line-height: 2.1em;
}

a {
    text-decoration: none;
}

a.reserva {
    text-transform: uppercase;
    background: #a29750;
    color: #fff5b0;
    padding: 5px 10px;
    float: right;
}

/* Barra de navegação vertical */

#menu {
    margin-top: 15px;
}

ul {
    list-style: none;
}

ul#navegacao {
    float: left;
}

ul#navegacao a {
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 5px;
    color: #6e672c;
    line-height: 30px;
}

ul#navegacao a:hover {
    background: #fdf6be;
}

#depoimento {
    width: 226px;
    height: 164px;
    float: right;
}

/* Área de conteúdos */

#area-principal {
    float: left;
    width: 50%;
    background: url(../images/bg-area-principal.png) top center repeat-x;
    padding: 15px 0;
}

#area-lateral {
    float: right;
    width: 50%;
    background: url(../images/bg-area-lateral.png) top center repeat-x;
    padding: 20px 0;
}

.conteudo {
    margin: 0 auto;
    width: 90%;
}

#rodape {
    clear: both;
    padding: 16px;
    background: white url(../images/bg-rodape.png) repeat-x top;
    color: #7d7640;
}

/* Formatações de textos */

h2 {
    color: #7d7640;
    font-size: 1.1em;
    padding: 5px 0;
}

p {
    font-size: 1em;
    margin-bottom: 10px;
}

/* Formatações da área lateral */

#beneficios li {
    padding: 8px;
    border-bottom: 1px solid #f3efcb;
    height: 6em;
}

#beneficios li a img {
    float: left;
    margin-right: 8px;
}

#beneficios li a p {
    color: black;
    font-size: 0.8em;
}

#beneficios li a h3 {
    font-size: 1.1em;
    color: #615b2d;
    padding: 5px 0;
    background: url(../images/ornamento.png) no-repeat center right;
}

#beneficios li:hover {
    background: #f6f3d6;
    cursor: pointer;
}